<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="../favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restaurant Apps</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">RestoProject</h1>
      </div>
      <button id="menu" href="#">☰</button>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#/Favorite">Favorite</a></li>
        <li class="nav__item">
          <a href="https://www.instagram.com/d_joglempo/" target="_blank"
            >About Us</a
          >
        </li>
      </ul>
      <div class="hero">
        <h1 class="hero__title">Restaurant Project</h1>
        <p class="hero__tagline">
          Selera Dunia dalam Satu Tempat, Temukan Kekayaan Kuliner di Katalog
          Kami
        </p>
      </div>
    </nav>
    <main id="maincontent" tabindex="-1"></main>
    <footer class="footer">
      <div class="footer_title">
        <p>RestoProject</p>
      </div>
      <p>Copyright © 2023 - RestoProject</p>
    </footer>
  </body>
</html>
